hr{
	height:2px;
	color: black;
	background-color: black;
}
b{
	color: teal;
}
.node{
	color: teal;
	font-weight: bold;
}
.json,textarea{
	width: 80%;
	overflow: auto;
}
.json, table{
	border: 1px solid grey;
}
.formula{
display:inline-block;
}
textarea{
height:200px;
}	